<link rel="stylesheet" href="/css/edit.css">
{{>navbar}}
{{>images}}
<div class="edit container">

    <h2>Enter new information to edit your profile</h2><br>

    {{#if updated}}
    <h2 class="update">Your profile has been updated!</h2><br>
    {{/if}}

    {{#if err}}
    <h2 id="error">something went wrong. Please try again.</h2>
    {{/if}}

    <div class="flexy_column">
    <form method="post">
        {{#data}}

        <input type="text" name="first"  value="{{first}}">
        <input type="text" name="last"  value="{{last}}">

        <input type="text" name="age" {{#if age}} value="{{age}}" {{else}} placeholder="age" {{/if}}>

        <input type="text" name="city" {{#if city}} value="{{city}}" {{else}} placeholder="city" {{/if}}>

        <input type="text" name="email" {{#if email}} value="{{email}}" {{else}} placeholder="email" {{/if}}>

        <input type="password" name="password" placeholder="Password">

        <input type="text" name="homepage" {{#if url}} value="{{url}}" {{else}} placeholder="homepage" {{/if}}>

        {{/data}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button>SUBMIT</button>
    </form>

        {{#if signature}}

        <form method="POST" action="/signature/delete">
            <img src="{{signature}}" class="results"><br>
            <p class="your_sig">Your signature</p>
            <div class="flexy_row">
                <p class="consent">Click this checkbox and submit if you want to delete your signature:</p>
                <input type="checkbox" class="checkbox" name="delete" value="clicked" required>
            </div>
            <button>DELETE</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
        {{/if}}
</div>
</div>
