{{>navbar}}
<div class="edit container">
    {{>images}}

    <h2>Enter new information to edit your profile</h2><br>

    {{#if updated}}
    <h2 class="update">Your profile has been updated!</h2><br>
    {{/if}}

    {{#if err}}
    <h2 id="error">something went wrong. Please try again.</h2>
    {{/if}}

    <div class="flexy_column">
    <form method="post">
        {{#data}}

        <input class="textbox" type="text" name="first"  value="{{first}}"><br>
        <p>First Name</p>
        <input class="textbox" type="text" name="last"  value="{{last}}"><br>
        <p>Last Name</p>
        <input class="textbox" type="text" name="age" {{#if age}} value="{{age}}" {{else}} placeholder="age" {{/if}}><br>
        <p>Age</p>
        <input class="textbox" type="text" name="city" {{#if city}} value="{{city}}" {{else}} placeholder="city" {{/if}}><br>
        <p>City</p>
        <input class="textbox" type="text" name="email" {{#if email}} value="{{email}}" {{else}} placeholder="email" {{/if}}><br>
        <p>Email</p>
        <input class="textbox" type="text" name="password" placeholder="Password"><br>
        <p>Password</p>
        <input class="textbox" type="text" name="homepage" {{#if url}} value="{{url}}" {{else}} placeholder="homepage" {{/if}}><br>
        <p>Homepage URL</p>
        {{/data}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button>SUBMIT</button>
    </form>

        {{#if signature}}

        <form method="POST" action="/signature/delete">
            <img src="{{signature}}" class="results"><br>
            <p>Your signature</p>
            <div class="flexy_row">
                <p class="consent">Click this checkbox and submit if you are sure you want to delete your signature:</p>
                <input type="checkbox" class="checkbox" name="delete" value="clicked" required>
            </div>
            <button>delete</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
        {{/if}}
</div>
