{{>navbar}}
<div class="signers container">
    {{>images}}
    <br>

    <div>
        <br>
        {{#data}}
        <p class="signers">
            {{#if url}} <a href="{{url}}"> {{/if}} {{first}} {{last}} {{#if url}}</a>{{/if}} &ensp; {{#if age}} <span class="age"> {{age}}</span> {{/if}} &ensp; {{#if city}} city:&ensp;<a href="signers/{{city}}"> {{city}} </a> {{/if}} </p><br>
        {{/data}}

    {{#if result}}
        <br>
        {{#result}}
        {{#if url}} <a href="{{url}}"> {{/if}} {{first}} {{last}} {{#if url}}</a>{{/if}} &ensp; {{#if age}} <span class="age"> {{age}}</span> {{/if}} &ensp;</p><br>
        {{/result}}
    {{/if}}

    </div>
</div>
