<div class="signers container">
{{>images}}
    <br>

    <div>
        <br>
        {{#data}}
        <p class="signers">{{this.first}} {{this.last}} &ensp; <span class="age">{{this.age}}</span> &ensp; city:&ensp;<a href="signers/{{this.city}}"> {{this.city}}</a></p><br>
        {{/data}}

    {{#if result}}
        <br>
        {{#result}}
        <p class="signers">{{this.first}} {{this.last}} &ensp; <span class="age">{{this.age}}</span> &ensp;</p><br>
        {{/result}}
    {{/if}}

    </div>
</div>
